<%layout('layouts/boilerplate')%>

<h2>Edit player</h2>
<a href="/">â† Back to players</a>

<section class="top">
  <h1>Edit <%=player.name%></h1>
  <form
    action="/players/<%=player.id%>?_method=PUT"
    method="POST"
    class="edit-form"
  >
    <label for="name">Name: </label>
    <input type="text" id="name" name="player[name]" value="<%= player.name  %>" />
    <label for="age">Age: </label>
    <input type="number" min="0" max="133.7" id="age" name="player[age]" value="<%= player.age  %>" />

    <label for="gender">Choose a gender:</label>
    <select class="gender-select" name="player[gender]" id="gender">
      <% for(let gender of genders){ %>
      <option value="<%=gender%>" <%=player.gender == gender ? 'selected':''%>><%=gender%></option>
      <% } %>
    </select>

    <button class="btn btn-primary btn-save">Save changes</button>
  </form>
</section>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="center-wrap">
  <p>Would you like to permanently delete this player?</p>
  <form action="/players/<%=player.id%>?_method=DELETE" method="POST">
    <button class="btn-warning">Delete player</button>
  </form>
</div>
