<%layout('layouts/boilerplate')%>

<h2>Edit team</h2>
<a href="/teams">â† Back teams</a>

<section class="top">
  <h1>Edit <%=team.name%></h1>
  <form
    action="/teams/<%=team.id%>?_method=PUT"
    method="POST"
    class="form edit-form team-edit"
  >
    <label for="name">Name: </label>
    <input type="text" id="name" name="team[name]" value="<%= team.name  %>" />
    <label for="age">Color: </label>
    <input
      type="color"
      id="color"
      name="team[color]"
      value="<%= team.color  %>"
    />
    <label for="score">Score: </label>
    <input
      type="text"
      readonly
      id="score"
      name="team[score]"
      value="<%= team.score  %>"
    />

    <button class="btn btn-primary">Save changes</button>
  </form>
</section>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="center-wrap">
  <p>Would you like to permanently delete this team?</p>
  <form action="/teams/<%=team.id%>?_method=DELETE" method="POST">
    <button class="btn btn-warning">Delete team</button>
  </form>
</div>
