<%layout('layouts/boilerplate')%>
<div class="hero"><h1>QuizCord</h1></div>
<div class="center-wrap">
  <h2>Divide and conquer</h2>
  <label for="teamsSlider">Select number of teams</label>
  <h3 id="numberOfTeams">6</h3>
  <input
    type="range"
    name="teamsSlider"
    id="teamsSlider"
    min="2"
    max="<%=users.length%>"
    class="teamsSlider"
    value="<%=Math.floor(users.length/2)%>"
  />

  <button class="btn btn-primary">Divide</button>
</div>
<div class="spacer"></div>
<h2>All users: <%=users.length%></h2>
<div class="wrapper">
  <% for (let user of users){%>
  <p><%=user.name%></p>
  <%}%>
</div>
<h3>All teams</h3>
<div class="wrapper">
  <% for (let team of teams){%>
  <p><%=team.name%></p>
  <%}%>
</div>

<script>
  var slider = document.getElementById("teamsSlider");
  var output = document.getElementById("numberOfTeams");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function () {
    output.innerHTML = this.value;
  };
</script>
