<%layout('layouts/boilerplate')%>

<div class="hero"><h1>QuizCord</h1></div>

<div class="spacer"></div>
<h2>All players</h2>
<a
  href="/players"
  class="link <%= players && players.length > 0 ? '' : 'hide' %>"
  >View all <%=players.length%> players</a
>
<div class="wrapper">
  <% for (let player of players){%>
  <input
    type="checkbox"
    id="check-<%=player.name%>"
    name="player[active]"
    value="<%=player.name%>"
  />
  <label for="check-<%=player.name%>"><%=player.name%></label>
  <% } %>
</div>

<h3>All teams</h3>
<a href="/teams" class="link <%= teams && teams.length > 0 ? '' : 'hide' %>"
  >View all teams</a
>
<div class="wrapper">
  <% for (let team of teams){%>
  <p><%=team.name%></p>
  <%}%>
</div>
