<%layout('layouts/boilerplate')%>

<div class="hero"><h1>QuizCord</h1></div>

<div class="spacer"></div>
<h2>All users</h2>
<a href="/users" class="link <%= users && users.length > 0 ? '' : 'hide' %>"
  >View all <%=users.length%> users</a
>
<div class="wrapper">
  <% for (let user of users){%>
  <input
    type="checkbox"
    id="check-<%=user.name%>"
    name="user[active]"
    value="<%=user.name%>"
  />
  <label for="check-<%=user.name%>"><%=user.name%></label>
  <% } %>
</div>

<h3>All teams</h3>
<a href="/teams" class="link <%= teams && teams.length > 0 ? '' : 'hide' %>"
  >View all teams</a
>
<div class="wrapper">
  <% for (let team of teams){%>
  <p><%=team.name%></p>
  <%}%>
</div>
