<%layout('layouts/boilerplate')%>

<div class="hero">
  <h1>Hubfast</h1>
</div>

<div class="spacer"></div>
<h2>Current events <%=currentEvents.length %></h2>
<table class="table-large">
  <thead>
    <tr>
      <th>_id</th>
      <th>Start Date</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Venue</th>
      <th>Hall</th>
      <th>Event Group ID</th>
      <th>Event Group</th>
      <th>Promoter</th>
      <th>Categories</th>
      <th>Sold</th>
      <th>Capacity</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <% for(event of currentEvents) { %>
    <tr>
      <td><%= event._id %></td>
      <td><%= new Date(event.startDate).toLocaleDateString() %></td>
      <td><%= event.title %></td>
      <td><%= event.subtitle %></td>
      <td><%= event.venue %></td>
      <td><%= event.hall %></td>
      <td><%= event.eventGroupId %></td>
      <td><%= event.eventGroup %></td>
      <td><%= event.promoter %></td>
      <td><%= event.categories.toString() %></td>
      <td><%= event.sold %></td>
      <td><%= event.capacity %></td>
      <td><%=((event.sold/event.capacity)*100).toFixed(0)%>%</td>
    </tr>
    <% } %>
  </tbody>
</table>
<h2>All events <%=events.length %></h2>

<table class="table-large">
  <thead>
    <tr>
      <th>_id</th>
      <th>Start Date</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Venue</th>
      <th>Hall</th>
      <th>Event Group ID</th>
      <th>Event Group</th>
      <th>Promoter</th>
      <th>Sold</th>
      <th>Capacity</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% for(event of events) { %>
    <tr>
      <td><%= event._id %></td>
      <td><%= new Date(event.startDate).toLocaleDateString() %></td>
      <td><%= event.title %></td>
      <td><%= event.subtitle %></td>
      <td><%= event.venue %></td>
      <td><%= event.hall %></td>
      <td><%= event.eventGroupId %></td>
      <td><%= event.eventGroup %></td>
      <td><%= event.promoter %></td>
      <td><%= event.sold %></td>
      <td><%= event.capacity %></td>
      <td><%= event.categories.toString() %></td>
    </tr>
    <% } %>
  </tbody>
</table>
