<%layout('layouts/boilerplate')%>

<h2>Edit user</h2>
<a href="/">â† Back to users</a>

<section class="top">
  <h1>Edit <%=user.name%></h1>
  <form
    action="/users/<%=user.id%>?_method=PUT"
    method="POST"
    class="edit-form"
  >
    <label for="name">Name: </label>
    <input type="text" id="name" name="user[name]" value="<%= user.name  %>" />
    <label for="age">Age: </label>
    <input type="text" id="age" name="user[age]" value="<%= user.age  %>" />

    <label for="gender">Choose a gender:</label>
    <select class="gender-select" name="user[gender]" id="gender">
      <% for(let gender of genders){ %>
      <option value="<%=gender%>" <%=user.gender == gender ? 'selected':''%>><%=gender%></option>
      <% } %>
    </select>

    <button class="btn btn-primary btn-save">Save changes</button>
  </form>
</section>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="center-wrap">
  <p>Would you like to permanently delete this user?</p>
  <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
    <button class="btn-warning">Delete user</button>
  </form>
</div>
